{% extends 'layout.html' %}
{% block body %}
<ul class="display_pal">
            {% for entry in display_pal %}
            <li><h2>{{ entry.title }}</h2></li>
            {% endfor %}
</ul>
<form action="{{ url_for('home') }}" method="GET" class="addpal">
    <dl>
        <dd><input type="submit" value="Back to the checker"></dd>
    </dl>
</form>
<form action="{{ url_for('clear') }}" method="POST" class="clear">
    <dl>
        <dd><input type="submit" value="Clear all data"></dd>
    </dl>
</form>
{% endblock %}