<! This file is the main view where the user will input their palindromes >
{% extends 'layout.html' %}
{% block body %}
    <form action="{{ url_for('addPal') }}" method="POST" class="addPal">
    <dl>
        <dt>Please add you palindromes below:</dt>
        <dd><input type="text" size="30" name="palindromes"></dd>
        <dd><input type="submit" value="Check"></dd>
    </dl>
    </form>
    <form action="{{ url_for('display') }}" method="GET">
        <dl>
            <dd><input type="submit" value="See palindromes"></dd>
        </dl>
    </form>
{% endblock %}